
<div class="container" id="wrapper">
<h3><%= @question %></h3>
<h2><small>- You</small></h2>

<h3><%= @message %></h3>
<h2><small>- Coach</small></h2>



<%= link_to "Ask a new Question", ask_path, class: 'btn btn-primary' %>

</div>

