<div class="container" id="wrapper">
  <div class="text">
    <h1>Hey, coach!</h1>
  </div class="form">
    <form action="/answer">
      <label for="question"><h5>Say something to your coach</h5></label>
      <input type="text" class="form-control" id="question" name="query" placeholder="what time is it?">
      <input type="submit" value="Go on!" class = "btn btn-primary">
    </form>
  </div>
</div>
